:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #eee;
  background-color: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
  margin: auto;
  max-width: 60rem;
}

section {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 1rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #111;
    background-color: #eee;
  }
}
